backend/n8n/municipal-alert-agent.workflow.json
{
  "name": "RoadSense Municipal Alert Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "1",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/get_municipal_alert_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_limit\": 50, \"p_cooldown_minutes\": 90, \"p_min_severity_score\": 0.55}",
        "options": {}
      },
      "id": "2",
      "name": "Fetch Alert Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($json) ? $json : [];\nif (rows.length === 0) return [];\n\nreturn rows.map((r) => {\n  const roadType = r.current_state === 'POTHOLE' ? 'Pothole' : 'Speed Bump';\n  const severityPct = Math.round((r.severity_score || 0) * 100);\n  const confidencePct = Math.round((r.confidence_score || 0) * 100);\n  const maps = `https://www.google.com/maps?q=${r.latitude},${r.longitude}`;\n  const zone = r.zone_code || 'N/A';\n  const authority = r.authority_name || 'Municipal Authority';\n\n  const subject = `[RoadSense] ${roadType} Alert | Zone ${zone} | Severity ${severityPct}%`;\n\n  const message = [\n    `RoadSense Alert (${roadType})`,\n    `Authority: ${authority}`,\n    `Zone: ${zone}`,\n    `Severity: ${severityPct}% | Confidence: ${confidencePct}%`,\n    `Events: ${r.total_events} | Last: ${r.last_event_at}`,\n    `Location: ${r.latitude}, ${r.longitude}`,\n    `Map: ${maps}`,\n  ].join('\\n');\n\n  const html = `\n    <div style=\"font-family:Arial,Helvetica,sans-serif;line-height:1.45;color:#0f172a;max-width:640px\">\n      <h2 style=\"margin:0 0 10px 0;color:#0b3a53\">RoadSense Municipal Alert</h2>\n      <p style=\"margin:0 0 12px 0\">A high-priority <strong>${roadType}</strong> cluster requires review.</p>\n      <table style=\"border-collapse:collapse;width:100%;margin-bottom:12px\">\n        <tr><td style=\"padding:6px 0\"><strong>Authority</strong></td><td>${authority}</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Zone</strong></td><td>${zone}</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Severity</strong></td><td>${severityPct}%</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Confidence</strong></td><td>${confidencePct}%</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Events</strong></td><td>${r.total_events}</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Last Event</strong></td><td>${r.last_event_at}</td></tr>\n        <tr><td style=\"padding:6px 0\"><strong>Coordinates</strong></td><td>${r.latitude}, ${r.longitude}</td></tr>\n      </table>\n      <p style=\"margin:12px 0\">\n        <a href=\"${maps}\" style=\"background:#0ea5e9;color:#fff;text-decoration:none;padding:10px 14px;border-radius:6px;display:inline-block\">Open Location in Google Maps</a>\n      </p>\n      <p style=\"font-size:12px;color:#475569\">This message was generated by RoadSense automated monitoring.</p>\n    </div>\n  `;\n\n  return {\n    json: {\n      ...r,\n      maps_url: maps,\n      alert_subject: subject,\n      alert_message: message,\n      alert_html: html,\n      target_channel: r.preferred_channel || 'email',\n    }\n  };\n});"
      },
      "id": "3",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.target_channel}}",
              "operation": "equal",
              "value2": "webhook"
            }
          ]
        }
      },
      "id": "4",
      "name": "Is Webhook Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.webhook_url}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"authority\": $json.authority_name, \"message\": $json.alert_message, \"cluster_id\": $json.cluster_id, \"severity_score\": $json.severity_score, \"latitude\": $json.latitude, \"longitude\": $json.longitude, \"maps_url\": $json.maps_url}",
        "options": {}
      },
      "id": "5",
      "name": "Send Webhook Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        180
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.ALERT_FROM_EMAIL}}",
        "toEmail": "={{$json.authority_email}}",
        "subject": "={{$json.alert_subject}}",
        "text": "={{$json.alert_message}}",
        "options": {
          "appendAttribution": false,
          "html": "={{$json.alert_html}}",
          "replyTo": "={{$env.ALERT_REPLY_TO_EMAIL || $env.ALERT_FROM_EMAIL}}"
        }
      },
      "id": "6",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "continueOnFail": true,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error?.message || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "8",
      "name": "Email Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ALERT_SMS_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\": $json.authority_phone, \"message\": $json.alert_message, \"cluster_id\": $json.cluster_id, \"authority\": $json.authority_name}",
        "options": {}
      },
      "id": "9",
      "name": "Send SMS Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        330
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/log_municipal_alert_dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_cluster_id\": $json.cluster_id, \"p_authority_id\": $json.authority_id, \"p_channel\": $json.target_channel, \"p_status\": \"sent\", \"p_severity_score\": $json.severity_score, \"p_payload\": {\"message\": $json.alert_message, \"maps_url\": $json.maps_url}}",
        "options": {}
      },
      "id": "7",
      "name": "Log Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/log_municipal_alert_dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_cluster_id\": $json.cluster_id, \"p_authority_id\": $json.authority_id, \"p_channel\": \"sms\", \"p_status\": \"sent\", \"p_severity_score\": $json.severity_score, \"p_payload\": {\"message\": $json.alert_message, \"fallback\": \"email_failed_sms_sent\"}}",
        "options": {}
      },
      "id": "10",
      "name": "Log SMS Fallback Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        330
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Alert Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Alert Candidates": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Is Webhook Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Webhook Channel?": {
      "main": [
        [
          {
            "node": "Send Webhook Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Webhook Alert": {
      "main": [
        [
          {
            "node": "Log Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Email Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed?": {
      "main": [
        [
          {
            "node": "Send SMS Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Fallback": {
      "main": [
        [
          {
            "node": "Log SMS Fallback Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "roadsense-municipal-alert-agent-v1"
}
